@import url(./desktop.css);
@import url(./tablet.css);

.page {
  font-size: var(--text-size);
  font-family: var(--text-font);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  padding: var(--padding-header);
}

@media (width >= 768px) {
  .header {
    --padding-header: 20px 20px 0px 5px;
  }
}


.rec__text {
  display: flex;
  grid-column: 3;
  color: var(--accent-color);
  gap: 10px;
  margin-inline-end: 8px;
  justify-self: end;
  margin-block-start: 1px;
}

.rec__text::after {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  content: "";
  justify-self: center;
  align-self: center;
}

.decorated-zone::before {
  width: 25px;
  height: 25px;
  border-top: var(--accent-color) 1px solid;
  border-right: var(--accent-color) 1px solid;
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

.decorated-zone::after {
  width: 25px;
  height: 25px;
  border-bottom: var(--accent-color) 1px solid;
  border-left: var(--accent-color) 1px solid;
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media (width >= 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

.header__theme-menu {
  grid-row: 2;
  grid-column: 3;
  justify-self: end;
  margin-block-start: 45px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 150px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
    align-self: start;
    margin-inline-start: 20px;
    justify-self: center;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
  }
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  font-size: var(--text-size);
  text-transform: lowercase;
  justify-self: center;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover-button-menu);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__margin-top {
  padding-block-start: 65px;
}

@media (width >= 768px) {
  .header__margin-top {
    padding-block-start: 182px;
  }
}

@media (width >= 1024px) {
  .header__margin-top {
    padding-block-start: 285px;
  }
}

.header__title {
  font-size: 120px;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 96px;
  font-weight: var(--font-weight-title);
}

@media (width >= 1024px) {
  .header__title {
    font-size: 155px;
    line-height: 120px;
  }
}

.header__top {
  grid-row: 3;
  grid-column: 1 / 4;
}

.header__subtitle {
  background-color: var(--accent-color);
  font-weight: var(--font-weight-title);
  grid-row: 4;
  grid-column: 1 / 4;
  color: black;
  margin-block-start: 55px;
  line-height: 23.4px;
  margin-block-end: 66px;
}

@media (width >= 768px) {
  .header__subtitle {
    margin-block-start: 40px;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: end;
    max-width: 363px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-width: 490px;
  }
}

.header__bottom__margin {
  padding-block-start: 40px;
}

@media (width >= 768px) {
  .header__bottom__margin {
    padding-block-start: 60px;
  }
}

section {
  padding: 14px 10px 14px 10px;
}

@media (width >= 768px) {
  section {
    padding-inline-end: 20px;
    padding-inline-start: 20px;
  }
}

@media (width >= 768px) {
  section {
    display: grid;
    grid-template-columns: 1.1fr 2fr;
  }
}

@media (width >= 1024px) {
  section {
    grid-template-columns: 1fr 1.9fr;
    padding-inline-start: 14px ;
  }
}

@media (width >= 768px) {
  .section-Ñoncentration__margin {
    margin-block-start: 31px;
  }
}

@media (width >= 768px) {
  .section-picture {
    grid-template-columns: 1fr;
    margin-block-start: 33px;
  }
}

@media (width >= 768px) {
  .grid__section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (width >= 1024px) {
  .grid__section {
    grid-template-rows: 98px 1fr;

  }
}

@media (width >= 1024px) {
  .text__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.header__md {
  color: var(--accent-color);
  margin-block-end: 20px;
  line-height: 24px;
  font-size: var(--text-size);
}

@media (width >= 768px) {
  .header__md {
    width: 220px;
  }
}

@media (width >= 1024px) {
  .header__md {
    padding-inline-start: 6px;
    width: 310px;
  }
}

@media (width >= 768px) {
  .header-goldfish__width {
    width: 230px;
  }
}

@media (width >= 1024px) {
  .header-goldfish__width {
    width: 300px;
  }
}

.header__sm {
  font-size: var(--font-header-size);
  color: black;
  font-weight: var(--font-weight-title);
  background-color: var(--accent-color);
  margin-block-end: 9px;
  line-height: 24px;
}

.text__paragraph {
  font-size: var(--text-size);
  line-height: 23.4px;
  margin-block-end: 20px;
  font-weight: var(--text-weight);
  color: var(--text-color);
}

.link {
  text-shadow: 4px 4px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
  border: 1px solid currentColor;
}

.regular__header {
  font-weight: 400;
  margin-block-start: 20px;
}

.images__list {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .images__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 10px;
  }
}

.images__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 768px) {
  .images__beach {
    grid-column: 1 / 3;
  }

  .images__icecream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .images__tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image__street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

.footer {
  display: grid;
  position: relative;
  margin-block-start: 26px;
  min-height: 668px;
  height: 100vh;
}

@media (width >= 768px) {
  .footer {
    margin-block-start: 49px;
  }
}

.footer__header {
  justify-self: center;
  align-self: center;
}