@import url(./desktop.css);
@import url(./tablet.css);

.page {
  font-size: var(--text-size);
  font-family: var(--text-font);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  padding: var(--padding-header);
}

@media (width >= 768px) {
  .header {
    --padding-header: 20px 20px 0px 5px;
  }
}


.rec__text {
  display: flex;
  grid-column: 3;
  color: var(--accent-color);
  gap: 10px;
  margin-inline-end: 8px;
  justify-self: end;
  margin-block-start: 1px;
}

.rec__text::after {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  content: "";
  justify-self: center;
  align-self: center;
}

.decorated-zone::before {
  width: 25px;
  height: 25px;
  border-top: var(--accent-color) 1px solid;
  border-right: var(--accent-color) 1px solid;
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

.decorated-zone::after {
  width: 25px;
  height: 25px;
  border-bottom: var(--accent-color) 1px solid;
  border-left: var(--accent-color) 1px solid;
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media (width >= 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

.header__theme-menu {
  grid-row: 2;
  grid-column: 3;
  justify-self: end;
  margin-block-start: 45px;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 150px;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  font-size: var(--text-size);
  text-transform: lowercase;
  justify-self: center;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__margin-top {
  padding-block-start: 65px;
}

@media (width >= 768px) {
  .header__margin-top {
    padding-block-start: 182px;
  }
}

.header__title {
  font-size: 120px;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 96px;
  font-weight: var(--font-weight-title);
}

@media (width >= 768px) {
  .header__title {

  }
}

.header__top {
  grid-row: 3;
  grid-column: 1 / 4;
}

.header__subtitle {
  background-color: var(--accent-color);
  font-weight: var(--font-weight-title);
  grid-row: 4;
  grid-column: 1 / 4;
  color: black;
  margin-block-start: 55px;
  line-height: 23.4px;
  margin-block-end: 66px;
}

.header__bottom__margin {
  padding-block-start: 40px;
}

section {
  padding: 14px 10px 14px 10px;
}

.header__md {
  color: var(--accent-color);
  margin-block-end: 20px;
  line-height: 24px;
  font-size: var(--text-size);
}

.header__sm {
  font-size: var(--font-header-size);
  color: black;
  font-weight: var(--font-weight-title);
  background-color: var(--accent-color);
  margin-block-end: 9px;
  line-height: 24px;
}

.text__paragraph {
  font-size: var(--text-size);
  line-height: 23.4px;
  margin-block-end: 20px;
  font-weight: var(--text-weight);
  color: var(--text-color);
}

.regular__header {
  font-weight: 400;
  margin-block-start: 20px;
}

.images__list {
  display: grid;
  gap: 10px;
}

.images__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  position: relative;
  margin-block-start: 26px;
  min-height: 668px;
  height: 100vh;
}

.footer__header {
  justify-self: center;
  align-self: center;
}